.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-fullpage {
  
  background-image: url(recruit2.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page{
  height: 100%;
  color: #101621;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.font-link{
  font-family: 'Praise', cursive;

}

.font-text{
  font-family: 'Road Rage', cursive;

}